body {
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
}

.shadow {
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.03);
}

/* header */
#header {
    text-align: center;
    color: #2F3B52;
    font-weight: 900; 
}


/* Input */
#input {
    padding: 15px 0;
}

.todo__input {
    display: flex;
    justify-content: center;
}

.inputBox {
    display: block;
    height: 50px;
    width: 75%;
    border: 1px solid white;
    border-style: groove;
    border-radius: 5px;   
}

.inputBox:focus {
    outline: none;
}




ul {
    list-style: none;
    padding-left: 0px;
    margin-top: 0;
    text-align: left;
}

 li {
    display: flex;
    min-height: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0.5rem 0;
    padding: 0 0.9rem;
    background: white;
    border-radius: 5px;
  }

  .checkBtn {
      line-height: 45px;
      color: #62acde;
      margin-right: 5px;
  }

  .checkBtnCompleted {
      color: #b3adad;
  }

  .removeBtn {
      font-size: 28px;
      margin-left: auto;
      color: #de4343;
  }

  .textCompleted {
      text-decoration: line-through;
      color: #b3adad;
  }

/* footer */
#footer {
    display: flex;
    justify-content: center;
}

.todo__footer {
    border: 1px solid white;
    border-radius: 17px;
    padding: 0 12px;
}

.todo__clear {
    width: 50px;
    height: 30px;
    color: red;
}
